<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Něco se pokazilo</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <div>
        <img src="/svg/broken-stick.svg" style="height: 25rem">
        <h1>Něco se pokazilo...</h1>
        <a href="/">Návrat na domovskou stránku</a>
    </div>
</body>
<span th:inline="text" th:remove="tag" >
   <!-- Timestamp: [[${timestamp}]]
        Path: [[${path}]]
        Status: [[${status}]]
        Error: [[${error}]]
        Message: [[${message}]]
     -->
</span>
</html>