#content{
    height: 85%;
}

.my-teams{
    height: 90%;
}

tbody{
    overflow-y: auto;
}

.my-teams tbody{
    display: block;
    width: 100%;
    max-height: 600px;
}

.my-teams thead, .my-teams tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.my-teams-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-teams img{
    height: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}


.my-teams button{

background-color: var(--violet);
    color: var(--white);
    border: none;
    width: 15rem;
    font-size: 1rem;
    height: 2rem;
text-align: center;
border-radius: 2rem;
cursor: pointer;}

button:active{
    transform: scale(0.98);
}

.my-teams tbody tr td {
    font-size: 1.3rem;
    line-height: 3.2rem;
}



.my-teams table a {
    display: inline-block;
    line-height: 1.2rem;
    padding: 0.3rem 2.2rem;
    border-radius: 2rem;
    font-size: 1rem;
    text-decoration: none;
    color: var(--white);
    background-color: var(--violet);
}



.my-teams tbody tr td:nth-child(1),.my-teams thead tr th:nth-child(1){
    padding-left: 1.5rem;
    width: 40%;
}

.my-teams tbody tr td:nth-child(n+2), .my-teams thead tr th:nth-child(n+2){
    text-align: center;
    width: 10%;
}

.my-teams tbody tr td:nth-child(5), .my-teams thead tr th:nth-child(5){
    width: 15%;
}

.my-teams tr img:nth-child(1):hover{
    filter: var(--filtered-violet);
}

.my-teams tr img:nth-child(2):hover{
    filter: var(--filtered-red);
}

@media only screen and (max-width: 768px) {

    .my-teams thead tr, .my-teams tbody tr {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .my-teams tbody tr td:nth-child(1), .my-teams thead tr th:nth-child(1) {
        padding-left: 0;
        text-align: center;
        width: 99%;
        line-height: normal;
    }

    .my-teams tbody tr td:nth-child(n+2), .my-teams thead tr th:nth-child(n+2) {
        text-align: center;
        width: 31%;
    }

    .my-teams thead tr th:nth-child(n+2) {
        font-size: 0.7rem;
    }

    .my-teams tbody tr td:nth-child(5), .my-teams thead tr th:nth-child(5) {
        width: 75%;
    }
}



