#content{
    height: 85%;
}

.game-header{
    margin-bottom: 2rem;
}

.game-management{
    display: grid;
    grid-template-columns: 22% 53% 22%;
    height: 85%;
    gap:  20px;
    justify-items: center;
}

.gm-left, .gm-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.gm-center {
    display: grid;
    width: 100%;
    height: 95%;
}

.game-header table tr:nth-child(n), .gm-left table tr:nth-child(n), .gm-right table tr:nth-child(n){
    background: none;
}

.game-header{
    font-size: 1.3rem;
}

h3{
    margin: 0;
}

.gm-left button, .gm-right button{
    width: 15rem;
    font-size: 1.3rem;
    line-height: 3rem;
    border-radius: 1rem;
}

.gm-left div:last-child, .gm-right div:last-child{
    margin-top: auto;
    margin-bottom: 4rem;
}

.gm-left div:last-child{
    margin-bottom: 4rem;
}


.gm-left td,.gm-right td{
    width: 50%;
    padding: 0.5rem;
}

.gm-left td button,.gm-right td button{
    width: 100%;
    font-size: 1.1rem;
    line-height: 2.5rem;
    border-radius: 1rem;
}

.gm-left table tr:nth-child(1) td,.gm-right table tr:nth-child(1) td{
    font-size: 1.3rem;
}

.gm-left table tr:nth-child(2) td,.gm-right table tr:nth-child(2) td{

    width: 33%;
}

.gm-left table tr:nth-child(2) td:nth-child(2),.gm-right table tr:nth-child(2) td:nth-child(2){
        font-size: 1.5rem;
}

.gm-left table td button,.gm-right table td button{
    width: 100%;
}


.gm-left table td,.gm-right table td
{
    text-align: center
;
}

#player-stats .modal-content{
    justify-content: flex-start;
}

#player-stats td{
    line-height: 1.8rem;
}



#player-stats tr td:not(:nth-child(2)){
    text-align: center;
}


.gm-center table table tr:nth-child(n){
    background: none;
}

.header-buttons{
    margin-left: 1rem;
    margin-right: auto;

    height: 2rem;
}

header a,header button, .gm-header a{
    background-color: var(--violet);
    text-decoration: none;
    color: var(--white);
    border-radius: 1rem;
    padding: 0.2rem 1.5rem ;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    line-height: 2rem;
}

#end-game{
    background-color: var(--red);
    margin-top: 1rem;
}

.gm-center td{
    text-align: center;
}

.gm-center>.box >table>tbody>tr{
    height: 3rem;
}

.gm-center>.box>table>tbody>tr>td:first-child{
    width: 15%;
    font-size: 1.4rem;
}

.gm-center table tr td:last-child {
    width: 70%;
}

.gm-center table tr.goal td:nth-child(3){
    font-size: 1.15rem;
    width: 60%;
}
.gm-center table tr.goal td:last-child{
    width: 15%;
}

.gm-center table tr.goal tbody tr td:nth-child(-n+3){
    width: 26%;
}

.gm-center table tr.penalty table tr td{
    width: 33%;
}

.gm-center>div>table>tbody>tr:hover{
    background-color: var(--lgrey);
    cursor: pointer;
}

.scored  table tr td:first-child {
    font-weight: 500;
    font-size: 1rem;
}

.gm-center>table>tbody>tr>td:first-child{
    font-size: 1.5rem;
}

.gm-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gm-center > .box > table {
    display: block;
    max-height: 571px;
    overflow-y: auto;
}

.roster {
    display: none;
}

.visible{display: block}

#saves-table{
    visibility: hidden;
}

.gm-left td, .gm-right td {
    width: 33%;
    padding: 0.5rem;
}

#saves-header-name{
    font-size: 1.2rem;
}

#saves, #shots{
    font-size: 1.35rem;
}

a.back-button {
    background-color: var(--violet);
    text-decoration: none;
    color: var(--white);
    border-radius: 1rem;
    padding: 0.2rem 1.5rem;
    border: none;
    font-size: 1rem;
    width: auto;
}

.header-buttons{

    margin-top: 0.5rem;
}

@media only screen and (max-width: 1439px) {
    .game-header tr{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .game-header tr td{
        text-align: center;
    }

}

@media only screen and (max-width: 1024px) {
    .game-management{
        grid-template-columns: 48% 48%;
        width: 100%;
    }

    #select-active-goalie .modal-content{
        width: 90%;
    }

    .game-management .gm-left
    {order: 1}

    .game-management .gm-right
    {order: 2}

    .game-management .gm-center
    {order: 3;

        grid-column: 1/3;}

    .gm-center, .gm-center .box{
        width: 95%;
    }

    .gm-left, .gm-right {
        width: 100%;
        height: 100%;
    }

    .gm-left div:last-child ,.gm-right div:last-child{
        margin-top: auto;
        margin-bottom: 0;
    }

    .gm-left div table,.gm-right div table{
        height: 100%;
    }

    .gm-center > .box > table {

         max-height: unset;
    }

    .modal{

        position: absolute;
    }


}

@media (max-width: 768px) {
    .modal-content {
        top: 0; /* Start from the top of the screen */
        transform: translate(-50%, 0); /* Remove the vertical centering */
        width: 90%; /* Adjust the width for smaller screens */
        min-height: auto; /* Adjust the height to fit the content */
        border-radius: 1rem; /* Slightly reduce the border radius for small screens */
    }
}

@media only screen and (max-width: 767px) {

    .gm-left div, .gm-right div {
        width: 100%;

    }

    .gm-left div:nth-child(4), .gm-right div:nth-child(4) {
        height: 100%;

    }

    .gm-left div button, .gm-right div button {
        width: 100%;
        height: 3.7rem;
        line-height: 1.3rem;
    ;
    }

    .gm-left table tr:nth-child(1) td {
        font-size: 1.15rem;
    }

    .gm-left tbody, .gm-right tbody{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        height: 100%;
    }

    .gm-left td, .gm-right td {
         width: 100%;
        padding: 0.5rem;
    }

    .gm-left tbody tr:nth-child(3) , .gm-right tbody tr:nth-child(3)   {
        display: grid;
        grid-template-columns: 35% 30% 35%;
        align-items: center;
    }

    .gm-center{
        width: 100%;
    }

    .gm-center .box {
        width: 86%;
    }

    .gm-center>.box>table>tbody>tr {
            display: flex;
            flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .gm-center>.box >table>tbody>tr {
        height: 7rem;
    }

    .gm-center>.box>table>tbody>tr>td:first-child, .gm-center>.box>table>tbody>tr>td:nth-child(2) {
        width: 49%;
        font-size: 1rem;
    }

    .gm-center>.box>table>tbody>tr>td:first-child{
        font-size: 1.5rem;

    }

    .gm-center>.box>table>tbody>tr>td:nth-child(4) {
        width: 35%;
    }

    .gm-center>.box>table>tbody>tr.penalty>td:nth-child(3) {
        width: 99%;
    }
    .gm-center table tr.penalty table tr
{
    max-height: 2rem;
}
    .gm-center table tr.penalty table tr td {

        max-width: 3.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .gm-header {
        flex-direction: column-reverse;
        gap: 20px;
    }

}
