.modal, .dialog-box{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0,0.4);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.modal-content, .dialog-box-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    width: 50%;
    min-height: 50%;
    overflow-y: auto;
    border-radius: 2rem;
}

.dialog-box-content{
    width: 20%;
    min-height: 15%;
}

.modal-header{
    display: flex;
    justify-content: space-between;
}

.modal-header h4{
    margin-top: 0;
    font-size: 1.5rem;
}

.modal-header img{
    height: 3rem;
    display: block; /* Remove extra space below image */
    pointer-events: auto;
}

.modal-header button{
    background: none; /* Remove default button styles */
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer; /* Show pointer cursor on hover */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.modal-header button:focus {
    outline: none; /* Remove default focus outline */
}

.modal-buttons, .dialog-box-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.modal-buttons button, .dialog-box-buttons button{
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    font-size: 1.25rem;
}

.modal-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: auto;
}

.time-situation, .time-reason{
    display: flex;
    justify-content: space-between;
}

.situation{
    margin: 0 auto;
}



.modal-text input[type=text], .modal-text input[type=date], .modal-text input[type=time]{
    aspect-ratio: 2/1;
    padding: 0.5rem;
    height: 1.5rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--dgrey);
    margin: 0 1rem;

}

.modal-text input[type=number]{
    aspect-ratio: 1/1;
    padding: 0.5rem;
    height: 1.5rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    border: 1px solid var(--dgrey);
    margin: 0 1rem;
}

.modal-text input[type=search]{
    aspect-ratio: 5/1;
    padding: 0.5rem;
    height: 2.5rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--dgrey);
    margin: 0 1rem;
}

.modal-text select{
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin: 0 1rem;

}

.roster button{
    font-size: 1.1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.time-reason div:nth-child(2){
    margin: 0 auto;
}

.cancel{
    background-color: var(--mgrey);
}

.message-box{
    z-index: 1;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: var(--white);
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;
    -webkit-box-shadow: 44px 4px 14px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.20);
    box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.20);
    transition: all 0.3s ease;
    opacity: 0;
}

.message-box img{
    height: 3rem;
    filter: var(--filtered-violet);
}

/* test only
.modal{
    display: block;
    opacity: 1;
}

.dialog-box{
    display: block;
    opacity: 1;
}
*/

.error-input{
    border-color: var(--red) !important;
}