<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Úvodní stránka</title>
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
</head>
<body>
    <div class="menu" th:replace="~{fragments/menu.html:: menu('home')}"></div>
    <div class="main">
        <div class="header" th:replace="~{fragments/menu.html:: header(null,null)}">

        </div>
        <div id="content">
            <span th:text="${#authentication}"></span>
            <div class="box" id="next-games">
                <h2>Příští zápasy</h2>
                <table>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="box" id="my-teams">
                <h2>Moje týmy</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Název týmu</th>
                        <th>Počet hráčů</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="box" id="summary"><h2>Přehled</h2>
                <div class="sum-container">
                    <div class="sum-item">
                        <table>
                            <tr>
                                <td><img src="/svg/team.svg"></td>
                            </tr>
                            <tr>
                                <td class="sum-name">Počet týmů</td>
                            </tr>
                            <tr>
                                <td class="sum-count" id="teams-count"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="sum-item">
                        <table>
                            <tr>
                                <td><img src="/svg/person.svg"></td>
                            </tr>
                            <tr>
                                <td class="sum-name">Počet hráčů</td>
                            </tr>
                            <tr>
                                <td class="sum-count" id="players-count"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="sum-item">
                        <table>
                            <tr>
                                <td><img src="/svg/match.svg"></td>
                            </tr>
                            <tr>
                                <td class="sum-name">Počet zápasů</td>
                            </tr>
                            <tr>
                                <td class="sum-count" id="games-count"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/message.html:: message-box}"></div>
    <div th:replace="~{fragments/modals.html:: edit-team}"></div>
    <div th:replace="~{fragments/dialogs.html:: delete-team}"></div>
</body>
<script src="/js/const.js"></script>
<script src="/js/util.js"></script>
<script src="/js/modules/modal.js"></script>
<script src="/js/modules/message.js"></script>
<script src="/js/script.js"></script>
<script src="/js/teams.js"></script>

</html>