<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Účet se nepodařilo ověřit</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <div>
        <img src="/svg/warning.svg">
        <h1>Účet se nepodařilo ověřit</h1>
    </div>
</body>
<span th:inline="text" th:remove="tag" >
   <!-- Timestamp: [[${timestamp}]]
        Path: [[${path}]]
        Status: [[${status}]]
        Error: [[${error}]]
        Message: [[${message}]]
     -->
</span>
</html>