<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Přehled zápasu</title>
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/summary.css}">
</head>
<body>
    <div class="sum">
        <div class="header">
            Zápas: <span th:text="${gameStats.game.team.name}">Tým 1</span> - <span th:text="${gameStats.game.opponent}">Soupeř 1</span><br>
            <span th:text="${#temporals.format(gameStats.game?.date,'dd.MM.yyyy')}+', '+${gameStats.game.time}">XX.XX.XXXX, XXXX</span> - <span th:text="${gameStats.game.venue}">Místo XXX</span>
        </div>
        <div class="score" >
            <th:block th:text="${gameStats.goalsScored}+':'+${gameStats.goalsConceded}"/> <br>
           <span class="period-score" th:if="${gameStats.game.currentPeriod == 1}" th:text="'('+${gameStats.goals[0].team}+':'+${gameStats.goals[0].opponent}+', -:-, -:-)'">(0:0, 0:0, 0:0)</span>
            <span class="period-score" th:if="${gameStats.game.currentPeriod == 2}" th:text="'('+${gameStats.goals[0].team}+':'+${gameStats.goals[0].opponent}+', '+${gameStats.goals[1].team}+':'+${gameStats.goals[1].opponent}+', -:-)'">(0:0, 0:0, 0:0)</span>
            <span class="period-score" th:if="${gameStats.game.currentPeriod >= 3}" th:text="'('+${gameStats.goals[0].team}+':'+${gameStats.goals[0].opponent}+', '+${gameStats.goals[1].team}+':'+${gameStats.goals[1].opponent}+', '+${gameStats.goals[2].team}+':'+${gameStats.goals[2].opponent}+')'">(0:0, 0:0, 0:0)</span>
        </div>
        <div class="stas-sum">
            <table>
                <thead>
                    <tr class="team-header">
                         <th colspan="5" th:text="${gameStats.game.team.name}">Tým 1</th>
                        <th>&nbsp;</th>
                         <th colspan="5" th:text="${gameStats.game.opponent}">Soupeř 1</th>
                    </tr>
                    <tr>
                        <th>1. tř</th>
                        <th>2. tř</th>
                        <th>3. tř</th>
                        <th>PR</th>
                        <th>Celkem</th>
                        <th>&nbsp;</th>
                        <th>Celkem</th>
                        <th>1. tř</th>
                        <th>2. tř</th>
                        <th>3. tř</th>
                        <th>PR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${gameStats.shots[0].team!=null?gameStats.shots[0].team:''}">0</td>
                        <td th:text="${gameStats.shots[1].team!=null?gameStats.shots[1].team:''}">0</td>
                        <td th:text="${gameStats.shots[2].team!=null?gameStats.shots[2].team:''}">0</td>
                        <td th:text="${gameStats.shots[3].team!=null?gameStats.shots[3].team:''}">0</td>
                        <td class="sum-col" th:text="${gameStats.totalShots}">00</td>
                        <td>Střely na branku</td>
                        <td class="sum-col"  th:text="${gameStats.totalSaves!=null?gameStats.totalSaves+gameStats.goalsConceded:0}">00</td>
                        <td th:text="${gameStats.shots[0].opponent!=null?gameStats.shots[0].opponent:''}">0</td>
                        <td th:text="${gameStats.shots[1].opponent!=null?gameStats.shots[1].opponent:''}">0</td>
                        <td th:text="${gameStats.shots[2].opponent!=null?gameStats.shots[2].opponent:''}">0</td>
                        <td th:text="${gameStats.shots[3].opponent!=null?gameStats.shots[3].opponent:''}">0</td>
                    </tr><tr>
                        <td th:text="${gameStats.saves[0].team!=null?gameStats.saves[0].team:''}">0</td>
                        <td th:text="${gameStats.saves[1].team!=null?gameStats.saves[1].team:''}">0</td>
                        <td th:text="${gameStats.saves[2].team!=null?gameStats.saves[2].team:''}">0</td>
                        <td th:text="${gameStats.saves[3].team!=null?gameStats.saves[3].team:''}">0</td>
                        <td class="sum-col" th:text="${gameStats.totalSaves!=null?gameStats.totalSaves:0}">00</td>
                        <td>Záashy brankářů</td>
                        <td class="sum-col"  th:text="${gameStats.totalShots - gameStats.goalsScored}">00</td>
                        <td th:text="${gameStats.saves[0].opponent!=null?gameStats.saves[0].opponent:''}">0</td>
                        <td th:text="${gameStats.saves[1].opponent!=null?gameStats.saves[1].opponent:''}">0</td>
                        <td th:text="${gameStats.saves[2].opponent!=null?gameStats.saves[2].opponent:''}">0</td>
                        <td th:text="${gameStats.saves[3].opponent!=null?gameStats.saves[3].opponent:''}">0</td>
                    </tr><tr>
                        <td th:text="${gameStats.penalties[0].teamPenalty!=null?gameStats.penalties[0].teamPenalty:''}">0</td>
                        <td th:text="${gameStats.penalties[1].teamPenalty!=null?gameStats.penalties[1].teamPenalty:''}">0</td>
                        <td th:text="${gameStats.penalties[2].teamPenalty!=null?gameStats.penalties[2].teamPenalty:''}">0</td>
                        <td th:text="${gameStats.penalties[3].teamPenalty!=null?gameStats.penalties[3].teamPenalty:''}">0</td>
                        <td class="sum-col" th:text="${gameStats.totalPenaltyMinutes!=null?gameStats.totalPenaltyMinutes:0}">00</td>
                        <td>Trestné minuty</td>
                        <td class="sum-col" th:text="${gameStats.totalOpponentPenaltyMinutes!=null?gameStats.totalOpponentPenaltyMinutes:0}">00</td>
                        <td th:text="${gameStats.penalties[0].opponentPenalty!=null?gameStats.penalties[0].opponentPenalty:''}">0</td>
                        <td th:text="${gameStats.penalties[1].opponentPenalty!=null?gameStats.penalties[1].opponentPenalty:''}">0</td>
                        <td th:text="${gameStats.penalties[2].opponentPenalty!=null?gameStats.penalties[2].opponentPenalty:''}">0</td>
                        <td th:text="${gameStats.penalties[3].opponentPenalty!=null?gameStats.penalties[3].opponentPenalty:''}">0</td>
                    </tr><tr>
                        <td class="bg-none" colspan="4">&nbsp;</td>
                        <td class="sum-col" th:text="${gameStats.myShotsEfficiency!=null?(#numbers.formatDecimal(gameStats.myShotsEfficiency, 1, 2))+ ' %':'--' }">00</td>
                        <td>Úspěšnost střelby</td>
                        <td class="sum-col" th:text="${gameStats.opponentShotsEfficiency!=null?(#numbers.formatDecimal(gameStats.opponentShotsEfficiency, 1, 2))+ ' %':'--' }">00</td>
                        <td class="bg-none"  colspan="4">&nbsp;</td>
                    </tr><tr>
                        <td class="bg-none"  colspan="4">&nbsp;</td>
                        <td class="sum-col" th:text="${gameStats.ppEfficiency!=null?(#numbers.formatDecimal(gameStats.ppEfficiency, 1, 2))+'%':'--'}">00</td>
                        <td>Úspěšnost přesilovek</td>
                        <td class="sum-col" th:text="${gameStats.shEfficiency!=null? (#numbers.formatDecimal((100 - gameStats.shEfficiency), 1, 2))+'%':'--'}">00</td>
                        <td class="bg-none"  colspan="4">&nbsp;</td>
                    </tr><tr>
                        <td class="bg-none"  colspan="4">&nbsp;</td>
                        <td class="sum-col" th:text="${gameStats.shEfficiency!=null?(#numbers.formatDecimal(gameStats.shEfficiency, 1, 2))+'%':'--'}">00</td>
                        <td>Úspěšnost oslabení</td>
                        <td class="sum-col" th:text="${gameStats.ppEfficiency!=null?(#numbers.formatDecimal((100 - gameStats.ppEfficiency), 1, 2))+'%':'--'}">00</td>
                        <td class="bg-none"  colspan="4">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="game-events">
        <h3>Herní události</h3>
        <table>
            <thead>
            <tr>
                <th>1.třetina</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div class="player-stats">
        <h3>Statistiky hráčů</h3>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th colspan="5">Zásahy</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>Číslo</th>
                    <th>Jméno</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>PR</th>
                    <th>Celkem</th>
                    <th>OG</th>
                    <th>%</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="goalie:${goalieStats}">
                    <td th:text="${goalie.player.gameNumber}">00</td>
                    <td th:text="${goalie.player.player.name}+' '+${goalie.player.player.surname}">Jméno Příjmení</td>
                    <td th:text="${goalie.saves1st}">0</td>
                    <td th:text="${goalie.saves2nd}">0</td>
                    <td th:text="${goalie.saves3rd}">0</td>
                    <td th:text="${goalie.savesOT}">0</td>
                    <td th:text="${goalie.saves}">00</td>
                    <td th:text="${goalie.goals}">0</td>
                    <td th:text="${goalie.saves!=null&&goalie.goals!=null?#numbers.formatDecimal(goalie.percentage, 1, 2):'--'}">0</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Číslo</th>
                    <th>Jméno</th>
                    <th>G</th>
                    <th>A</th>
                    <th>B</th>
                    <th>+/-</th>
                    <th>TM</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="player:${playerStats}">
                    <td th:text="${player.player.gameNumber}">00</td>
                    <td th:text="${player.player.player.name}+' '+${player.player.player.surname}">Jméno Příjmení</td>
                    <td th:text="${player.goals}">0</td>
                    <td th:text="${player.assists}">0</td>
                    <td th:text="${player.goals+player.assists}">0</td>
                    <td  th:text="${player.plus - player.minus}">+-0</td>
                    <td  th:text="${player.penaltyMinutes!=null? player.penaltyMinutes:'0'}">00</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="/js/const.js"></script>
<script src="/js/util.js"></script>
<script src="/js/modules/modal.js"></script>
<script src="/js/modules/message.js"></script>
<script src="/js/summary.js"></script>
</html>