<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/test.css">

</head>
<body>
    <button onclick="openModal('scored-goal')">Scored goal</button>
    <button onclick="openModal('conceded-goal')">Conceded goal</button>
    <button onclick="openModal('penalty')">Penalty</button>
    <button onclick="openModal('opponent-penalty')">Opponent penalty</button>
    <button onclick="openModal('player-stats')">Player stats</button>
    <button onclick="openModal('create-edit-team')">Create/edit team</button>
    <button onclick="openModal('create-player')">Create player</button>
    <button onclick="openModal('edit-player')">Edit player</button>
    <button onclick="openModal('create-game')">New game</button>
    <button onclick="openModal('number-conflict')">Number conflict</button>
    <button onclick="openModal('select-active-goalie')">Select active goalie</button>
    <button onclick="showMessage()">Message</button>
    <button onclick="showDialog('dialog')">Dialog</button>
    <div class="modal" id="scored-goal">
        <div class="modal-content">
           <div class="modal-header">
               <h4>Vstřelený gól</h4>
               <button onclick="closeModal(null,'scored-goal')"><img src="/svg/x.svg" ></button>
           </div>
            <div class="modal-text">
                <div class="time-situation">
               <div> <label for="scored-goal-time-real">Čas:</label>
                <input type="text" name="" id="scored-goal-time-real"  inputmode="numeric" maxlength="4">
                   <span class="error-message" id="e-time-sg">Chybný čas</span>
               </div><div class="situation">
                <label for="scored-goal-situation">Stav na ledě:</label><select id="scored-goal-situation">
                    <option value="" selected>5/5</option>
                    <option value="">4/4</option>
                    <option value="">3/3</option>
                    <option value="">5/4</option>
                    <option value="">5/3</option>
                    <option value="">4/5</option>
                    <option value="">3/5</option>
                    <option value="">TS</option>
                    <option value="">SN</option>
            </select></div></div><div>
                <label for="goal">G:</label>
                <input type="number" name="" id="goal">
                <span class="error-message" id="e-scorer">Chybný střelec</span>
                <label for="assist1">A1:</label>
                <input type="number" name="" id="assist1">
                <span class="error-message" id="e-assist1">Chybný hráč</span>
                <label for="assist2">A2:</label>
                <input type="number" name="" id="assist2">
                <span class="error-message" id="e-assist2">Chybný hráč</span>
                <span class="error-message" id="e-assist">Chyba v asistencích</span>
            </div>
                <div>
                    <label>Na ledě:</label>
                    <input type="number" name="" id="scored-goal-onIce1">
                    <input type="hidden" name="plus1">
                    <input type="number" name="" id="scored-goal-onIce2">
                    <input type="hidden" name="plus2">
                    <input type="number" name="" id="scored-goal-onIce3">
                    <input type="hidden" name="plus3">
                    <input type="number" name="" id="scored-goal-onIce4">
                    <input type="hidden" name="plus4">
                    <input type="number" name="" id="scored-goal-onIce5">
                    <input type="hidden" name="plus5">
                    <input type="number" name="" id="scored-goal-onIce6">
                    <input type="hidden" name="plus6">
                    <span class="error-message" id="e-plus">Chyba v účasti</span>

                </div>
                <div id="scored-goal-roster" class="roster">
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                </div>
            </div>
            <div class="modal-buttons">
                <button>Uložit</button><button class="cancel" onclick="closeModal(null,'scored-goal')">Zrušit</button>
            </div>
        </div>
    </div>
    <div class="modal" id="conceded-goal">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Obdržený gól</h4>
                <button onclick="closeModal(null,'conceded-goal')"><img src="/svg/x.svg" ></button>
            </div>
            <div class="modal-text">
                <div class="time-situation">
                    <div> <label for="conceded-goal-time-real">Čas:</label>
                        <input type="text" name="" id="conceded-goal-time-real"  inputmode="numeric" maxlength="4"><span class="error-message" id="e-time-cg">Chybný čas</span></div><div class="situation">

                    <label for="conceded-goal-situation">Stav na ledě:</label><select id="conceded-goal-situation">
                    <option value="">5/5</option>
                    <option value="">4/4</option>
                    <option value="">3/3</option>
                    <option value="">5/4</option>
                    <option value="">5/3</option>
                    <option value="">4/5</option>
                    <option value="">3/5</option>
                    <option value="">TS</option>
                    <option value="">SN</option>
                </select></div></div>
                <div>
                    <label>Na ledě:</label>
                    <input type="number" name="" id="conceded-goal-onIce1">
                    <input type="hidden" name="minus1">
                    <input type="number" name="" id="conceded-goal-onIce2">
                    <input type="hidden" name="minus2">
                    <input type="number" name="" id="conceded-goal-onIce3">
                    <input type="hidden" name="minus3">
                    <input type="number" name="" id="conceded-goal-onIce4">
                    <input type="hidden" name="minus4">
                    <input type="number" name="" id="conceded-goal-onIce5">
                    <input type="hidden" name="minus5">
                    <input type="number" name="" id="conceded-goal-onIce6">
                    <input type="hidden" name="minus6">

                    <span class="error-message" id="e-minus">Chyba v účasti</span>
                </div>
                <div id="conceded-goal-roster" class="roster">
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                </div>
            </div>
            <div class="modal-buttons">
                <button>Uložit</button><button class="cancel" onclick="closeModal(null,'conceded-goal')">Zrušit</button>
            </div>
        </div>
    </div>
    <div class="modal" id="penalty">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Vyloučení</h4>
                <button onclick="closeModal(null,'penalty')"><img src="/svg/x.svg" ></button>
            </div>
            <div class="modal-text">
                <div class="time-situation">
                    <div> <label for="conceded-goal-time-real">Čas:</label>
                        <input type="text" name="" id="penatly-time-real"  inputmode="numeric" maxlength="4"><span class="error-message" id="e-time-pen">Chybný čas</span></div><div class="situation">
                    <label>Hráč:</label>
                    <input type="number" name="" id="penalty-player"><span class="error-message" id="e-penalty-player">Chybný hráč</span>
                    <input type="hidden" name="penalty-player"></div></div>
                <div class="time-reason">
                    <div>
                    <label for="penalty-length">Délka trestu:</label>
                    <select id="penalty-length">
                        <option value="2" selected>2</option>
                        <option value="4">2+2</option>
                        <option value="12">2+10</option>
                        <option value="10">10</option>
                        <option value="5">5</option>
                        <option value="25">5+OK</option>
                        <option value="20">OK</option>
                        <option value="0">TS</option>
                    </select>
                    </div>
                    <div>
                        <label for="reason">Důvod: </label>
                        <input type="search" id="reason" autocomplete="on" list="penalties">
                    </div>
                </div>
                <div id="penalty-roster" class="roster">
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                    <button>00 <br>Příjmení</button>
                </div>
            </div>
            <div class="modal-buttons">
                <button>Uložit</button><button class="cancel" onclick="closeModal(null,'penalty')">Zrušit</button>
            </div>
        </div>
    </div>
    <div class="modal" id="opponent-penalty">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Vyloučení soupeře</h4>
                <button onclick="closeModal(null,'opponent-penalty')"><img src="/svg/x.svg" ></button>
            </div>
            <div class="modal-text">
                <div class="time-situation">
                    <div> <label for="conceded-goal-time-real">Čas:</label>
                        <input type="text" name="" id="opponent-penatly-time-real"  inputmode="numeric" maxlength="4"><span class="error-message" id="e-time-pen-opp">Chybný čas</span></div><div class="situation">

                    <label for="opponent-penalty-length">Délka trestu:</label>
                    <select id="opponent-penalty-length">
                        <option value="2">2</option>
                        <option value="4">2+2</option>
                        <option value="12">2+10</option>
                        <option value="10">10</option>
                        <option value="5">5</option>
                        <option value="25">5+OK</option>
                        <option value="20">OK</option>
                        <option value="0">TS</option>
                    </select></div></div>

            </div>
            <div class="modal-buttons">
                <button>Uložit</button><button class="cancel" onclick="closeModal(null,'opponent-penalty')">Zrušit</button>
            </div>
        </div>
    </div>
    <div class="modal" id="player-stats">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Statistiky hráčů</h4>
                <button onclick="closeModal(null,'player-stats')"><img src="/svg/x.svg" ></button>
            </div>
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th colspan="5">Zásahy</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>Číslo</th>
                    <th>Jméno</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>PR</th>
                    <th>Celkem</th>
                    <th>OG</th>
                    <th>%</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>00</td>
                    <td>Jméno Příjmení</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>00</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>00</td>
                    <td>Jméno Příjmení</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>00</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                </tbody>
            </table>
            <table>
                <thead>
                <tr>
                    <th>Číslo</th>
                    <th>Jméno</th>
                    <th>G</th>
                    <th>A</th>
                    <th>B</th>
                    <th>+/-</th>
                    <th>TM</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>00</td>
                    <td>Jméno Příjmení</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+-0</td>
                    <td>00</td>
                </tr><tr>
                    <td>00</td>
                    <td>Jméno Příjmení</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+-0</td>
                    <td>00</td>
                </tr><tr>
                    <td>00</td>
                    <td>Jméno Příjmení</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+-0</td>
                    <td>00</td>
                </tr><tr>
                    <td>00</td>
                    <td>Jméno Příjmení</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+-0</td>
                    <td>00</td>
                </tr><tr>
                    <td>00</td>
                    <td>Jméno Příjmení</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+-0</td>
                    <td>00</td>
                </tr><tr>
                    <td>00</td>
                    <td>Jméno Příjmení</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+-0</td>
                    <td>00</td>
                </tr><tr>
                    <td>00</td>
                    <td>Jméno Příjmení</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+-0</td>
                    <td>00</td>
                </tr><tr>
                    <td>00</td>
                    <td>Jméno Příjmení</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+-0</td>
                    <td>00</td>
                </tr><tr>
                    <td>00</td>
                    <td>Jméno Příjmení</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+-0</td>
                    <td>00</td>
                </tr><tr>
                    <td>00</td>
                    <td>Jméno Příjmení</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+-0</td>
                    <td>00</td>
                </tr><tr>
                    <td>00</td>
                    <td>Jméno Příjmení</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+-0</td>
                    <td>00</td>
                </tr><tr>
                    <td>00</td>
                    <td>Jméno Příjmení</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+-0</td>
                    <td>00</td>
                </tr><tr>
                    <td>00</td>
                    <td>Jméno Příjmení</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+-0</td>
                    <td>00</td>
                </tr><tr>
                    <td>00</td>
                    <td>Jméno Příjmení</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+-0</td>
                    <td>00</td>
                </tr><tr>
                    <td>00</td>
                    <td>Jméno Příjmení</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+-0</td>
                    <td>00</td>
                </tr><tr>
                    <td>00</td>
                    <td>Jméno Příjmení</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+-0</td>
                    <td>00</td>
                </tr><tr>
                    <td>00</td>
                    <td>Jméno Příjmení</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+-0</td>
                    <td>00</td>
                </tr><tr>
                    <td>00</td>
                    <td>Jméno Příjmení</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+-0</td>
                    <td>00</td>
                </tr><tr>
                    <td>00</td>
                    <td>Jméno Příjmení</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+-0</td>
                    <td>00</td>
                </tr><tr>
                    <td>00</td>
                    <td>Jméno Příjmení</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+-0</td>
                    <td>00</td>
                </tr><tr>
                    <td>00</td>
                    <td>Jméno Příjmení</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>+-0</td>
                    <td>00</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal" id="create-edit-team">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Vytvořit tým</h4>
                <button onclick="closeModal(null,'create-edit-team')"><img src="/svg/x.svg" ></button>
            </div>
            <div class="modal-text">
                <label for="team-name">Název týmu: </label>
                <input type="text" class="error-input" id="team-name"><span class="error-message" id="e-team-name">Špatný název</span>
            </div>
            <div class="modal-buttons">
                <button>Uložit</button><button class="cancel" onclick="closeModal(null,'create-edit-team')">Zrušit</button>
            </div>
        </div>
    </div>
    <div class="modal" id="create-player">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Vytvořit hráče</h4>
                <button onclick="closeModal(null,'create-player')"><img src="/svg/x.svg" ></button>
            </div>
            <div class="modal-text">
               <div><label for="player-name">Jméno: </label>
                <input type="text" id="player-name" style="aspect-ratio: 8/1"><span class="error-message" id="e-player-name">Špatné jméno</span></div>
                <div><label for="player-surname">Příjmení: </label>
                <input type="text" id="player-surname" style="aspect-ratio: 8/1"><span class="error-message" id="e-player-surname">Špatné příjmení</span></div>
                <div><label for="player-number">Číslo dresu: </label>
                <input type="number" id="player-number"><span class="error-message" id="e-player-number">Špatné číslo</span>
                <label for="player-position">Pozice: </label>
                <select id="player-position">
                    <option value="">--</option>
                    <option value="GK">B</option>
                    <option value="D">O</option>
                    <option value="F">Ú</option>
                </select>
                <span class="error-message" id="e-player-position">Špatná pozice</span></div>

        </div>
            <div class="modal-buttons">
                <button>Uložit</button><button class="cancel" onclick="closeModal(null,'create-player')">Zrušit</button>
            </div>
        </div>
    </div>
    <div class="modal" id="edit-player">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Upravit hráče</h4>
                <button onclick="closeModal(null,'edit-player')"><img src="/svg/x.svg" ></button>
            </div>
            <div class="modal-text">
                <input type="hidden" name="" id="player-id">
               <div><label for="player-name-edit">Jméno: </label>
                <input type="text" id="player-name-edit" style="aspect-ratio: 8/1"><span class="error-message" id="e-player-name-edit">Špatné jméno</span></div>
                <div><label for="player-surname-edit">Příjmení: </label>
                <input type="text" id="player-surname-edit" style="aspect-ratio: 8/1"><span class="error-message" id="e-player-surname-edit">Špatné příjmení</span></div>
                <div><label for="player-number-edit">Číslo dresu: </label>
                <input type="number" id="player-number-edit"><span class="error-message" id="e-player-number-edit">Špatné číslo</span>
                <label for="player-position-edit">Pozice: </label>
                <select id="player-position-edit">
                    <option value="">--</option>
                    <option value="GK">B</option>
                    <option value="D">O</option>
                    <option value="F">Ú</option>
                </select>
                <span class="error-message" id="e-player-position-edit">Špatná pozice</span></div>

        </div>
            <div class="modal-buttons">
                <button>Uložit</button><button class="cancel" onclick="closeModal(null,'edit-player')">Zrušit</button>
            </div>
        </div>
    </div>
    <div class="modal" id="create-game">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Nový zápas</h4>
                <button onclick="closeModal(null,'create-game')"><img src="/svg/x.svg" ></button>
            </div>
            <div class="modal-text">
                <div><label for="game-opponent">Soupeř: </label>
                    <input type="text" id="game-opponent" style="aspect-ratio: 8/1"><span class="error-message" id="e-game-opponent">Špatný soupeř</span></div>
                <div><label for="game-date">Datum: </label>
                    <input type="date" id="game-date" style="aspect-ratio: 6/1"><span class="error-message" id="e-game-date">Špatné datum</span></div>
                <div><label for="game-time">Čas: </label>
                    <input type="time" id="game-time" style="aspect-ratio: 5/1"><span class="error-message" id="e-game-time">Špatný čas</span></div>
                   <div> <label for="game-venue">Stadion: </label>
                    <input type="text" id="game-venue" style="aspect-ratio: 8/1">
                    <span class="error-message" id="e-game-venue">Špatný stadion</span></div>

            </div>
            <div class="modal-buttons">
                <button>Uložit</button><button class="cancel" onclick="closeModal(null,'create-game')">Zrušit</button>
            </div>
        </div>
    </div>
    <div class="modal" id="edit-game">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Upravit zápas</h4>
                <button onclick="closeModal(null,'edit-game')"><img src="/svg/x.svg" ></button>
            </div>
            <div class="modal-text">
                <input type="hidden" name="" id="game-id">
                <div><label for="game-opponent-edit">Soupeř: </label>
                    <input type="text" id="game-opponent-edit" style="aspect-ratio: 8/1"><span class="error-message" id="e-game-opponent-edit">Špatný soupeř</span></div>
                <div><label for="game-date-edit">Datum: </label>
                    <input type="date" id="game-date-edit" style="aspect-ratio: 6/1"><span class="error-message" id="e-game-dat-edite">Špatné datum</span></div>
                <div><label for="game-time-edit">Čas: </label>
                    <input type="time" id="game-time-edit" style="aspect-ratio: 5/1"><span class="error-message" id="e-game-time-edit">Špatný čas</span></div>
                   <div> <label for="game-venue-edit">Stadion: </label>
                    <input type="text" id="game-venue-edit" style="aspect-ratio: 8/1">
                    <span class="error-message" id="e-game-venue-edit">Špatný stadion</span></div>

            </div>
            <div class="modal-buttons">
                <button>Uložit</button><button class="cancel" onclick="closeModal(null,'edit-game')">Zrušit</button>
            </div>
        </div>
    </div>
    <div class="modal" id="number-conflict">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Hráč s číslem XX už je na soupisce. Změňte, prosím, jedno z čísel</h4>
                <button onclick="closeModal(null,'number-conflict')"><img src="/svg/x.svg" ></button>
            </div>
            <div class="modal-text">
                <input type="hidden" name="" id="roster-player">
                <input type="hidden" id="new-player-id">
                <table>
                <tr><td>
                <label for="game-opponent-edit">Hráč na soupisce: </label></td><td><span id="roster-player-name">Jméno Příjmení 1</span></td><td>
                    <input type="number" id="roster-player-number" style="aspect-ratio: 2/1"> <span class="error-message" id="e-roster-player-number">Špatné číslo 1</span></td></tr>
                <tr><td>
                    <label for="game-date-edit">Nový hráč: </label></td><td><span id="new-player-name">Jméno Příjmení 2</span><td>
                    <input type="number" id="new-player-number" style="aspect-ratio: 2/1"> <span class="error-message" id="e-new-player-numbe">Špatné číslo 2</span></td></tr></table>


            </div>
            <div class="modal-buttons">
                <button>Uložit</button><button class="cancel" onclick="closeModal(null,'number-conflict')">Zrušit</button>
            </div>
        </div>
    </div>
    <div class="modal" id="select-active-goalie">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Vyberte začínajícího brankáře</h4>
                <button onclick="closeModal(null,'select-active-goalie')"><img src="/svg/x.svg" ></button>
            </div>
            <div class="modal-text">

                <div><input type="radio" name="goalie" id="goalie1"><label for="goalie1">Brankář 1</label></div>
                <div><input type="radio" name="goalie" id="goalie2"><label for="goalie2">Brankář 2</label></div>



            </div>
            <div class="modal-buttons">
                <button>Uložit</button><button class="cancel" onclick="closeModal(null,'select-active-goalie')">Zrušit</button>
            </div>
        </div>
    </div>
    <div class="message-box">
        <img src="/svg/info.svg"><h3>Toto je tesovací zpráva</h3>
    </div>
    <div class="dialog-box" id="dialog">
        <div class="dialog-box-content">
            <h4>Opravdu chcete...?</h4>
            <div class="dialog-box-buttons"><button class="agree">Ano</button><button onclick="closeDialog(null, 'dialog')" class="cancel">Ne</button></div>
        </div>
    </div>
</body>
<datalist id="penalties">
    <option value="bodnutí koncem hole">bodnutí koncem hole</option>
    <option value="bodnutí špičkou hole">bodnutí špičkou hole</option>
    <option value="brankář za střední čárou">brankář za střední čárou</option>
    <option value="bodnutí špičkou hole">bodnutí špičkou hole</option>
    <option value="bitka">bitka</option>
    <option value="držení hole">držení hole</option>
    <option value="držení">držení</option>
    <option value="nafilmovaný pád – přihrávání">nafilmovaný pád – přihrávání</option>
    <option value="fyzické napadání rozhodčích">fyzické napadání rozhodčích</option>
    <option value="hákování">hákování</option>
    <option value="hození hole / předmětu">hození hole / předmětu</option>
    <option value="hrubost">hrubost</option>
    <option value="faul kolenem">faul kolenem</option>
    <option value="kopnutí">kopnutí</option>
    <option value="kousnutí">kousnutí</option>
    <option value="krosček">krosček</option>
    <option value="faul loktem">faul loktem</option>
    <option value="napadení">napadení</option>
    <option value="naražení zezadu">naražení zezadu</option>
    <option value="nedovolené bránění">nedovolené bránění</option>
    <option value="nedovolené bránění brankáři">nedovolené bránění brankáři</option>
    <option value="nesportovní chování">nesportovní chování</option>
    <option value="nedovolená hůl nebo měření hole">nedovolená hůl nebo měření hole</option>
    <option value="napadání rozhodčích">napadání rozhodčích</option>
    <option value="nedovolená nebo nebezpečná výstroj">nedovolená nebo nebezpečná výstroj</option>
    <option value="nedovolený zásah tělem (v ženském hokeji)">nedovolený zásah tělem (v ženském hokeji)</option>
    <option value="opuštění brankoviště v průběhu šarvátky">opuštění brankoviště v průběhu šarvátky</option>
    <option value="opuštění hráčské lavice">opuštění hráčské lavice</option>
    <option value="opuštění trestné lavice">opuštění trestné lavice</option>
    <option value="odmítnutí zahájit hru">odmítnutí zahájit hru</option>
    <option value="podkopnutí">podkopnutí</option>
    <option value="plivnutí">plivnutí</option>
    <option value="příliš mnoho hráčů na ledě">příliš mnoho hráčů na ledě</option>
    <option value="podrážení">podrážení</option>
    <option value="přikrytí puku brankářem">přikrytí puku brankářem</option>
    <option value="sekání">sekání</option>
    <option value="sevření puku rukou">sevření puku rukou</option>
    <option value="porušení postupu při střídání hráčů">porušení postupu při střídání hráčů</option>
    <option value="tahání za vlasy, helmu, mřížku">tahání za vlasy, helmu, mřížku</option>
    <option value="úder hlavou">úder hlavou</option>
    <option value="vražení na mantinel">vražení na mantinel</option>
    <option value="vysoká hůl">vysoká hůl</option>
    <option value="zásah do nohou">zásah do nohou</option>
    <option value="zdržování hry">zdržování hry</option>
    <option value="zlomená hůl">zlomená hůl</option>
    <option value="zásah proti divákům">zásah proti divákům</option>

</datalist>
<script>
     function openModal(modalName){
        let modal = document.getElementById(modalName);
         modal.style.display= "block";
         setTimeout(() => {
             modal.style.opacity=1;
         }, 10);
     }

    function closeModal(modal, modalId){
         if(modal==null){
             modal = document.getElementById(modalId);
         }

         let inputs = modal.querySelectorAll("input");

         for(let input of inputs){
             input.value = null;
         }

        modal.style.opacity=0;
        setTimeout(() => {

            modal.style.display= "none";
        }, 200);
    }



    document.addEventListener("click", (evt)=>{
        document.querySelectorAll('.modal').forEach(function(modal) {
            if (evt.target === modal) {
                closeModal(modal);
            }
        });
    });

    window.addEventListener('keydown', function(event) {
        if (event.key === "Escape") {
            document.querySelectorAll('.modal').forEach(function(modal) {
                if (modal.style.display === "block") {
                    closeModal(modal);
                }
            });
        }
    });

    function showMessage(message, type){
        let messageBox = document.querySelector(".message-box");

        if(message != null){
            messageBox.querySelector("h3").innerHTML = message;
        }
        if(type!= null){

        }

        messageBox.style.opacity = 1;

        setTimeout(()=>{
            messageBox.style.opacity = 0;
        }, 3000);
    }

     function showDialog(dialogId){
         let dialog = document.getElementById(dialogId);
         dialog.style.display= "block";
         setTimeout(() => {
             dialog.style.opacity=1;
         }, 10);
     }

    function closeDialog(dialog, dialogId){
        if(dialog==null){
            dialog = document.getElementById(dialogId);
        }

        dialog.style.opacity=0;
        setTimeout(() => {

            dialog.style.display= "none";
        }, 200);
    }
</script>
</html>